body {
    font-family: Arial;
    padding: 50px;
  }

  .lblock {
    max-width: 500px;
  }

  header {
    margin-bottom: 30px;
  }

  header h1 {
    margin-top: 0;
    font-size: 30px;
    margin-bottom: 0px;
  }

  header p {
    margin-top: 10px;
    font-size: 18px;
    color: rgb(116, 116, 123);
  }

  article {
    max-width: 230px;
  }

  article h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  article p {
    margin-top: 5px;
    color: rgb(116, 116, 123);
  }

  .rblock {
    margin-left: 30px;
  }

  .cols {
    gap: 20px;
    flex-wrap: wrap;
  }
  .flex {
    display: flex;
    justify-content: center;
  }

  /* section {
    border: rebeccapurple solid;
  } */